<h1 [ngStyle]="{'background-color' : isTechRelated ? 'blue' : 'yellow' }">{{title}}</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing
  elit. Quis magnam ea veritatis saepe ipsum reiciendissed,
  veniam similique beatae fugiat facilis adipisci enim!
  Facilis, porro quae labore perspiciatis ipsum
  repudiandae?</p>


  <!-- In the article component, create a button with the content "change isTechRelated".
    (Use event binding to reverse the variable "isTechRelated" value
    whenever a user clicks the button). -->
    
<!--In the article component, use "ngIf" to display a paragraph element with content
  "Tech Related" when the "isTechRelated" is true. When false, use the ng-template element
  to display "Not Tech Related".-->

